doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Games

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        <video controls autoplay><source src="video/Dynasty Warriors 8 - Trailer E3 2013 (English Version)(1).mp4" type="video/mp4" height ="500"></video>
        h2 <span style=color:green>G</span><span style=color:red>A</span><span style=color:blue>M</span><span style=color:purple>E</span><span style=color:brown>S</span>
        <video controls autoplay><source src="video/Final Fantasy XIV - Official E3 Trailer [HD].mp4" type="video/mp4" height ="500"></video>

      section
        h1 Definisi Game
        h2 Menurut Kamus & Para Ahli
        ul
         li <img src="Image/unduhan.jpg" width="130" height="150"> <img src="Image/0df6c0a398a01e8fd1ef4210.L._V192444889_SX200_.jpg" width="110" height="150">
      section
        <h2>Apa itu Game???</h2>
        <p></p>
        ul
        <li> <b>Menurut kamus besar bahasa Indonesia</b> 
        p <b>Game</b> diartikan sebagai permainan yang merujuk pada pengertian kelincahan intelektual & sebagai arena keputusan dan aksi pemainnya. </li>
        <li> <b>Menurut David Parlett</b>
        p <b>Game</b> adalah sesuatu yang memiliki akhir dan cara mencapainya artinya ada tujuan, hasil dan serangkaian peraturan untuk mencapai keduanya.</li>
        <li> <b>Menurut Roger Caillois, seorang sosiolog Perancis, dalam bukunya yang berjudul "<i>Les jeux et les hommes</i></b>"
        p <b>Game</b> adalah aktivitas yang mencakup karakteristik berikut : fun (bebas bermain adalah pilihan bukan kewajiban), separate (terpisah), uncertain, non-productive, governed by rules (ada aturan), dan fictitious (pura-pura).</li>

      section
       h1 Sejarah Perkembangan Game
        
      section
       h2 Generasi-Generasi Game
       h3 Generasi Pertama(1972)
       p Generasi pertama konsol permainan video berlangsung dari tahun 1972, dengan rilis dari Magnavox Odyssey, hingga 1977, ketika pong-style produsen konsol meninggalkan pasar secara massal karena pengenalan dan keberhasilan mikroprosesor berbasis konsol.

       li <h4> Tahun 1975</h4>
       p Magnavox menyerah dan menghentikan produksi Odyssey. Sebagai gantinya, mereka mengikuti jejak Atari, memproduksi mesin ding dong bernama Odyssey 100, yang khusus menyajikan game Pong.

      section
       <img src="Image/4_magnavox_odyssey.jpg" width="500" height="300">
       <img src="Image/odyssey.jpg" width="500" height="300">

      section
       h3 Generasi Kedua(1976)
       p Fairchild mencoba menghidupkan kembali dunia video game dengan menciptakan VES (Video Entertainment System). VES adalah mesin pertama yang disebut ”konsol”.
       p Konsol ini menggunakan kaset magnetik yang disebut cartridge. Nah, konsep ini kemudian diikuti oleh beberapa produsen lain, termasuk Atari, Magnavox, dan RCA, ketiga perusahaan tersebut juga merilis konsol serupa. Fairchild VES, pertama di dunia yang menggunakan media cartridge.

      section
       <li> <h4>Tahun 1977</h4>
       p Dunia konsol menjadi tidak populer, game-game yang ada tidak berhasil menarik minat. Fairchild dan RCA mengalami kebangkrutan. Praktis, hanya ada Atari dan Magnavox yang masih bertahan di dunia video game.</li>
       <li> <h4> Tahun 1978</h4>
       p Magnavox meluncurkan Odyssey 2, seperti halnya Odyssey pertama, konsol ini pun gagal menjadi hit. Tak lama berselang, Atari meluncurkan konsol legendaris, Atari 2600, yang terkenal dengan game Space Invaders-nya</li>
      section
       <li> <h4>Tahun 1980</h4>
       p Berbagai produsen konsol muncul, dan mereka mengambil Atari 2600 sebagai konsep dasar, perkembangan dunia game pun semakin pesat.</li>
       <li> <h4>Tahun 1983</h4>
       p Dunia video game kembali ambruk. Game-game yang kurang kreatif membuat konsol kembali mendapat sambutan dingin, apalagi, PC saat itu menjadi semakin canggih. Orang lebih memilih membeli PC ketimbang konsol video game, selain untuk bermain, PC juga produktif untuk bekerja.
       p Game-game komputer (PC Game) semakin berkembang pesat, hingga saat ini. Pelopor PC ber-game saat itu adalah Commodore 64, konsol sekaligus personal computer yang menyediakan tampilan grafis 16-warna dan memiliki kapasitas memori jauh lebih baik dari konsol videogame model apa pun.</li>
      section
        <img src="Image/300px-Atari-5200-Console-Set.png" width="500" height="300">
        <img src="Image/space-invaders1.png" width="500" height="300">

      section
       h3 Generasi Ketiga(1983)
       p  Perusahaan bernama Famicom (Jepang) menciptakan gebrakan baru, sebuah konsol bernama Famicom/Nintendo Entertainment System (NES) dirilis di akhir 1983. Konsol ini menampilkan gambar dan animasi resolusi tinggi untuk pertama kalinya setelah mendapat sambutan hangat di Jepang.

       p Famicom memperluas pemasarannya ke Amerika, yang dikenal dengan NES (Nintendo Entertainment System). Nintendo memiliki chip pengaman pada cartridge game mereka, dengan demikian seluruh game yang akan dirilis haruslah seijin developer Nintendo. Dan akhirnya, muncul sebuah game legendaris, Super Mario Brothers, yang dibintangi karakter fenomenal yang tetap eksis hingga kini, Mario. Famicom dari Nintendo, berhasil merajai pasar videogame di era generasi ketiga.

      section
       <img src="Image/Sega-Master-System-Set.jpg" width="500" height="300">
       <img src="Image/Sonic.png" width="500" height="300">

      section
       h3 Generasi Keempat(1988)
       p NES mendapat sambutan hangat di seluruh dunia, dan sebuah perusahaan bernama Sega mencoba menyaingi Nintendo. Sega merilis konsol next-generation mereka, Sega Mega Drive (yang juga dikenal dengan Sega Genesis). Konsol ini menyajikan gambar yang lebih tajam dan animasi yang lebih halus dibanding NES. Konsol ini cukup berhasil memberi tekanan, tetapi NES tetap bertahan dengan angka penjualan tinggi.

       li <h4> Tahun 1990</h4>
       p Nintendo kembali menggebrak dengan konsol next-gen mereka, SNES (Super Nintendo Entertainment System). Selama 4 tahun, Nintendo dan Sega menjadi bebuyutan, meskipun ada beberapa produsen seperti SNK dengan NeoGeo-nya, NEC dengan TurboGrafx-16 dan Phillips CD-i, tapi kedua konsol mereka begitu handal dan populer. Rivalitas yang legendaris, Super NES dan Mario Brothers sebagai ikonnya melawan SEGA Mega Drive dan Sonic the Hedgehog sebagai ikonnya.

      section
       <img src="Image/907470Wikipedia_SNES_PAL.jpg" width="500" height="300">
       <img src="Image/link-to-the-past.jpg" width="500" height="300">

      section
       h3 Generasi Kelima(1990-1994)
       p Sega dan Nintendo tetap bersaing. Berbagai game fenomenal dirilis. SNES menyertakan chip Super FX pada cartridge mereka, dan Sega menggunakan Sega Virtua Processor, keduanya bertujuan untuk meningkatkan kualitas grafis dari game. Alhasil, SNES dan Sega saling beradu dengan game-game keren seperti Donky Kong Country (SNES) dan Vectorman (Sega).</li>

      section
       <li> <h4>Tahun 1993</h4>
       p Sebuah perusahaan ternama, Panasonic, merilis konsolnya yang bernama Panasonic 3DO. Ini adalah konsol pertama yang menggunakan CD sebagai pengganti cartridge. Harganya yang sangat mahal membuat konsol ini tidak populer, 3DO tidak bertahan lama dan harus segera menghentikan produksinya, Panasonic 3DO merupakan konsol game pertama yang menggunakan media CD.</li>
       <li> <h4>Tahun 1994</h4>
       p Atari kembali meluncurkan konsol baru untuk menandingi Nintendo dan Sega. Atari Jaguar jelas jauh lebih canggih ketimbang NES maupun Mega Drive, tetapi penggunaannya yang sulit menjadi batu sandungan, belum lagi, pada tahun yang sama, Sony merilis konsol super legendaris, PlayStation. Atari bangkrut dan akhirnya melakukan merger. Konsol basis CD yang pertama kali menuai sukses adalah Sony PlayStation. Konsol Jepang ini segera mendapat sambutan hangat, dan hingga saat ini, PlayStation sudah terjual ratusan juta unit. PlayStation yang juga disebut PS-One merupakan konsol terlaris sepanjang masa. Sega dan Nintendo tampaknya menyadari ketertinggalan mereka dari Sony. Sega kemudian merilis Sega Saturn, dan Nintendo mengeluarkan Nintendo 64.</li>

      section
       <img src="Image/psx-1.jpg" width="500" height="300">
       <img src="Image/644165_574731392538851_148943232_n.jpg" width="500" height="300">

      section
       h3 Generasi Keenam (1998)
       p Setelah jatuhnya Nintendo dan Sega, kini dunia konsol jadi milik Sony. PlayStation menjadi raja dan bisa dibilang tidak memiliki pesaing. Sega mencoba meluncurkan Sega Dreamcast untuk mematahkan dominasi Sony, tetapi kembali gagal, akhirnya pada tahun itu juga, Sega mengundurkan diri dari dunia produsen konsol.

      section
       li <h4>Tahun 2000</h4>
       p Sony semakin ’merajalela’ ketika mereka berhasil merilis konsol barunya, PlayStation 2, yang sudah berbasis DVD. Nintendo mencoba bertahan di dunia konsol dengan merilis GameCube. Konsol ini tidak menggunakan DVD 12 cm biasa, melainkan DVD yang berukuran lebih kecil, yaitu 8 cm. Ukuran keping medianya yang lagi-lagi nyeleneh membuat GameCube kurang populer. Satu-satunya pesaing serius PlayStation 2 adalah Xbox. 
       p Sebuah konsol keluaran Microsoft ini menggebrak dengan tampilan visual yang sangat tajam dan berkualitas yang kala itu lebih menarik dibanding dengan PlayStation 2. Sayangnya game-game Xbox ternyata tidak sepopuler PlayStation 2. Satu game Xbox yang menjadi hit dan cukup fenomenal yaitu Halo. Karena game ini udah memanfaatkan fasilitas ‘unggul’ dari Microsoft, yaitu Xbox Live.

      section
       <img src="Image/800px-6gencons.jpg" width="500" height="300">
       <img src="Image/gta-san-andreas.jpg" width="500" height="300">

      section
       h3 Generasi Ketujuh(2005)
       p Boleh dibilang, Xbox terlambat meluncur ke pasaran dibanding PlayStation 2, dan support game-game tenar juga sangat minim. Tetapi, Microsoft seolah belajar dari kesalahannya. Pada saat Sony masih melakukan riset untuk konsol PlayStation 3 yang menggunakan Blu-Ray, Microsoft kali ini telah mengambil seribu langkah lebih cepat. Xbox 360, konsol generasi terkini yang memanfaatkan media HD-DVD.

      section
       li <h4>Tahun 2006</h4>
       p Boleh dibilang, Xbox terlambat meluncur ke pasaran dibanding PlayStation 2, dan support game-game tenar juga sangat minim. Tetapi, Microsoft seolah belajar dari kesalahannya. Pada saat Sony masih melakukan riset untuk konsol PlayStation 3 yang menggunakan Blu-Ray, Microsoft kali ini telah mengambil seribu langkah lebih cepat. Xbox 360, konsol generasi terkini yang memanfaatkan media HD-DVD.
       p Posisi PlayStation 3 kurang menguntungkan, selain karena Xbox 360 sudah keburu tenar duluan, Wii juga menawarkan inovasi pada stik kontrol mereka yang ’motion sensitive’. Apalagi, harga konsol terbaru Sony itu merupakan yang paling mahal dibanding dua pesaingnya. Alhasil, penjualan PlayStation 3 menjadi yang terendah di bawah Xbox 360 dan Wii. Xbox 360, Wii, Playstation 3, menjadi pesaing tetap dari generasi sebelumnya.
     
      section
       <img src="Image/Main_PS3_Image_345w_2-02760.png" width="500" height="300">
       <img src="Image/GrandTheftAutoV_3.png" width="500" height="300">

      section
       h3 Generasi Kedelapan(2012)
       p Generasi ini dimulai pada tahun 2012 (bukan 2013) kemaren. Generasi kedelapan atau biasa disebut Next-Gen adalah generasi penerus kesuksesan PS3 yang digantikan oleh PS4, Xbox 360 digantikan oleh Xbox One dan tidak lupa Wii tergantikan oleh Wii U dengan gamepad. Generasi ini dijamin akan mengungguli kesuksesan generasi sebelumnya dengan bukti angka penjualan dalam 24 jam sudah terjual 1 juta unit oleh Xbox One dan PS4. Generasi ini AMD mulai digunakan pada konsol next gen tersebut. nVidia selaku pembuat grafis card pada generasi sebelumnya merasa kecewa, hal ini membuat nVidia mulai membuat kartu grafis powerful untuk PC sehingga lebih mengungguli konsol next-gen. Maka lahirlah Steam Machine yang dikembangkan oleh Valve selaku pembuat "media sosial" game ternama di PC yaitu Steam. Playstation Vita juga merupakan generasi ini

      section
       <img src="Image/next-gen_consoles.jpg" width="500" height="300">
       <img src="Image/zelda-hd-experience.jpg" width="500" height="300">

      section
         h2 Jenis - jenis games
         h3  - Adventure
         h3  - Platform
         h3  - RPG (Role-Playing Games)
         h3  - Puzzle
         h3  - MMORPG
         h3  - Simulasi
         h3  - Web Based Games
         ul
          li Terkadang dalam satu game bisa terdapat lebih dari 1 genre/Tipe.

      section
       h2 Adventure
       ul
        li  Melibatkan eksplorasi atau interaksi di lingkungan sekitar.
        li  Cerita serta penyelesaian puzzle juga disorot pada jenis game ini.
        li  Biasanya interaksi menggunakan pointer dan klik.
        li  Pertarungan pada peran ini cukup kecil.
        li  Contoh : Indiana Jones, Monkey Island dsb.
        li  <img src="Image/Monkey king.jpg" width ="200" height="200"> <img src="Image/Myst.png" width ="200" height="200">

      section
        h2 Platform
        ul
         li Mulai pada tahun 1981 dengan munculnya game "Donkey Monkey" dan "Space Panic".
         li Diidentifikasi dengan lingkungan yang bisa dinavigasi.
         li  Membutuhkan waktu dan lompatan untuk mencapai suatu destinasi.
         li  Contohnya Sonic The Hedgehog.
         li  <img src="Image/Sonic.png" width="300" height="200"> <img src="Image/super mario bros.png" width="200" height="200">

      section
       h2 RPG
       ul
        li Kekuatan atau kemampuan
        li Direpresentasikan dalam statistik.
        li Karakter menjelajahi dan menyelesaikan quest.
        li Experience/Statistik bertambah.
        li Contoh: Dark soul dan The Witcher.
        li <img src="Image/dark soul.jpg" width="200" height="200"> <img src="Image/the witcher.jpg" width="200" height="200">

      section
       h2 Puzzle
       ul
         li Sangat singkat
         li Addictive
         li Selesaikan puzzle.
         li Contoh: tetris, puzzle bobble.
         li <img src="Image/tetris.png" width="200" height="100"> <img src="Image/puzzle bobble.jpg" width="200" height="200">

      section
       h2 MMORPG
       ul
         li Massive Multiplayer Online Role Playing Game
         li Game role playing multiplayer
         li Online
         li Contoh : Ragnarok, Warcraft.
         li <img src="Image/warcraft.jpg" width="200" height="200"> <img src="Image/ragnarok.jpg" width="200" height="200">
      section
       h2 Simulasi
       ul
         li Ciptakan suasana mirip dengan asli.
         li Contoh : SimCity, The sims.
         li <img src="Image/simcity.jpg" width="200" height="300"> <img src="Image/the sims.jpg" width="200" height="300">

      section
       h2 Web Based Games
       ul
         li Dimainkan via Website
         li dibangun dengan Flash atau Shockwave.
         li Contoh: Rival Saga,Pet Forest
         li <img src="Image/rival saga.jpg" width="200" height="100"> <img src="Image/pet forest.jpg" width="200" height="100">

      section
       h1 Jenis Game Berdasarkan Platform

      section
       ul
        li <h3> Arcade Games </h3>
        li Yaitu yang sering disebut ding-dong di Indonesia, biasanya berada di daerah / tempat khusus dan memiliki box atau mesin yang memang khusus di desain untuk jenis video games tertentu dan tidak jarang bahkan memiliki fitur yang dapat membuat pemainnya lebih merasa "masuk dan menikmati ", seperti pistol, kursi khusus, sensor gerakan, sensor injakkan dan stir mobil ( beserta transmisinya tentunya ).
        li <img src="Image/sotg-arcades.jpg" width="500" height="300">

      section
       ul
        li <h3>PC GAMES</h3>
        li Yaitu video game yang dimainkan menggunakan Personal Computers.
        li <img src="Image/3.jpg" width="500" height="300">

      section
       ul
        li <h3>CONSOLE GAMES</h3>
        li Yaitu video games yang dimainkan menggunakan console tertentu, seperti Playstation 2, Playstation 3, XBOX 360, dan Nintendo Wii.
        li <img src="Image/Harga Playstation 4 (PS4) terbaru 2014.png" width="500" height="300">

      section
       ul
        li <h3>HANDHELD GAMES</h3>
        li Yaitu game yang dimainkan di console tertentu atau khusus video game yang dapat dibawa kemana-mana, Contoh Nintendo DS, dan Sony PSP.
        li <img src="Image/psp_1.jpg" width="500" height="300">

      section
       ul
        li <h3>MOBILE GAMES</h3>
        li Yaitu games yang dapat dimainkan atau khusus untuk mobile phone atau PDA
        li <img src="Image/iphone.jpg" width="400" height="500">


      section
       h1 Games Terkenal saat ini

      section
       h2 Titanfall
       ul
         li Dirilis pada tanggal 11 Maret 2014
         li Genre Multiplayer First Person shooter
         li Xbox one, Xbox 360,PC
         li <img src="Image/titanfall.jpg" width="300" height="200"> <img src="Image/titanfall gameplay.jpg" width="300" height="200">

      section
       h2 Dark Soul 2
       ul
         li Dirilis pada tanggal 11 Maret 2014 untuk Playstation 3, Xbox 360, April 24 2014 untuk PC.
         li Genre Action Role Playing
         li Playstation 3, Xbox 360, PC.
         li <img src="Image/darksoul 2.jpg" width="200" height="200"> <img src="Image/dark soul2 gameplay.jpg" width="300" height="200">

      section
       h2 DOTA 2
       ul
         li Dirilis pada tanggal 9 Juli 2013 di Windows dan 18 Juli 2013 di OS X dan Linux.
         li Genre Multiplayer Online Battle Arena.
         li Microsoft Windows, OS X, Linux.
         li <img src="Image/dota 2.jpg" width="400" height="300">

      section
       h2 Watch Dogs
       ul
         li Dirilis pada tanggal 27 Mei 2014 untuk Windows, Playstation 3, 4, Xbox 360, Xbox one, WII U comming soon
         li Action Adventure
         li Microsoft Windows, PS 3, PS 4, Xbox 360, Xbox One, WII U
         li <img src="Image/watch dog.jpg" width="200" height="300"> <img src="Image/watch dog gameplay.jpg" width="300" height="200">

      section
       h2 Grand Thef Auto V
       ul
         li Dirilis pada tanggal 17 September2013
         li Action Adventure
         li Playstation 3, Xbox 360
         li <img src="Image/grand thef auto.jpg" width="200" height="300"> <img src="Image/grand thef auto gameplay.jpg" width="300" height="200">

      section
       h2 Call Of Duty (COD)
       ul
         li Dirilis pada tanggal 5 November 2013
         li First person - shooter
         li Microsoft Windows, PS 3, PS 4, Wii U, Xbox 360, Xbox One
         li <img src="Image/COD.png" width="300" height="200"> <img src="Image/COD gameplay.jpg" width="300" height="200">

      section
       h1 Perubahan Tampilan Game Lalu dan Sekarang

      section
       h2 Resident Evil
       <img src="Image/resident evil.jpg" width="300" height="400">

      section
       h2 Silent Hill
       <img src="Image/silent hill.jpg" width="300" height="400">

      section
       h2 Tomb Raider
       <img src="Image/tomb raider.jpg" width="400" height="300">

      section
       h2 Thief
       <img src="Image/thief old.jpg" width="300" height="200">
       <img src="Image/thief new.jpg" width="300" height="200">

      section
       h2 FIFA
       <img src="Image/FIFA.jpg" width="300" height="400">
       
      section
       h2 Legend of Zelda
       <img src="Image/legend of zelda.jpg" width="300" height="400">
 
      section
       h1 Software - software terbaik untuk membuat Game

      section
       ul 
        li <h2>Game Maker</h2>
        li <img src="Image/Game maker.jpg"width = "380" height = "240">
        ul
         li Merupakan engine pembuat game paling populer saat ini
         li Pembuatan game dengan cara drag and drop untuk tingkat pemula
         li Game yang lebih kompleks dapat digunakan scripting
         li Tersedia komponen pendukung yang bisa diunduh misalnya: background, musik latar, skrip pemograman, banner
         li Dapat diunduh di <u>http://www.yoyogames.com/gamemaker</u>
      
      section
       ul
        li <h2>Unity 3D</h2>
        li <img src="Image/Learning the Interface-0.jpg" width = "400" height = "240">
        ul
         li Merupakan engine yang berbasis cross-platform 
         li Untuk games online membutuhkan plugin Unity Web Player
         li Tidak ada fitur desain, untuk mendesain bisa digunakan 3dsmax atau Blender 
         li Mendukung 3 bahasa pemograman: JavaScript, C# dan Boo
         li Dapat diunduh di <u>http://unity3d.com</u>

      section
       ul
        li <h2>RPG Maker VX</h2>
        li <img src="Image/RPG Maker VX.jpg" width = "400" height = "240">
         ul
          li Merupakan engine pembuat Game bergenre RPG
          li Cocok untuk game berukuran kecil
          li Tidak membutuhkan scipting untuk membuat tetapi untuk membuat alur cerita lebih menarik bisa ditambhakan scripting
          li Tidak bisa mengubah wajah karakter
          li Dapat Diunduh di <u>www.rpgmakerweb.com</u>

      section
       ul 
        li <h2> FPS Creator</h2>
        li <img src="Image/fps-creator-3.jpg" width = "400" height = "240">
         ul
         li Merupakan engine (First Time Shooter) pembuat game seperti point blank, counter strike, call of duty, dll
         li Banyak fitur-fitur yang tentunya mempermudah pembuatan game FPS
         li Grafik tidak sebagus FPS populer
         li Dapat didownload di <u>http://fpscreator.thegamecreators.com/</u>
         
      section
        ul
         li <h2> Cry Engine </h2>
         li <img src="Image/90dd8d1a272ae592e5d4bb1a586d9ab5.jpg" width = "400" height = "240">
         ul
          li Merupakan engine yang paling populer saat ini
          li Tidak perlu menggunakan spek dewa untuk menjalankan game yang dibuat dengan software ini
          li Game seperti Crysis, Crysis 2, ASTA, Class 3 dan yang paling baru Crysis 3 menggunakan Cry Engine
          li Dapat didownload di <u>http://www.crytek.com/cryengine</u>
      section
       ul
        li <h2> Anvril Engine </h2>
        li <img src="Image/maxresdefault.jpg" width = "400" height = "240">
        ul
         li Merupakan engine yang mengedepankan interaksi dengan lingkungan seperti dukungan siang dan malam, hujan & angin kencang, petir & guntur, dll
         li Game seperti Assasin Creed dan Prince of Persie menggunakan engine Anvril
         li Dapat didownload di <u>http://www.desura.com/engines/scimitar</u>


      section
       h1 Dampak Positif dan Negatif Game

      section
       ul
        li <h2>Positif</h2>
        li 1. Melatih fisik
        li Ada banyak jenis permainan video game. Salah satunya konsol komputer yang memerlukan beberapa aktivitas dan gerakan fisik. Misalnya menari, bermain gitar, atau bermain drum. Orangtua bisa memilihkan metode permainan bergerak tersebut untuk anak-anak mereka. Ini akan lebih baik dibandingkan mereka sekadar bermain video game dengan cara duduk di sofa sepanjang hari.
        li 2. Kebugaran dan nutrisi
        li Banyak jenis video gim yang menggabungkan kebugaran, nutrisi, dan hidup sehat untuk menjadi tujuan utama permainan. Video game yang dimaksud akan menyimulasi olahraga outdoor yang menjadi alternatif latihan di luar ruangan. Misalnya video game tinju, lari, tenis, dan sebagainya. Ini akan memancing permainan penurunan berat badan dan mempertahankan gaya hidup sehat. 
      section
       ul
        li 3. Melatih Ketangkasan
        li Bermain game bisa juga meningkatkan ketangkasan anak anda. Ada fungsi kerja, bermain, sekaligus berolahraga. Ada banyak permainan dalam video game yang memancing tingkat koordinasi dan kejelian mata anak anda. 
        li 4. Keterampilan sosial
        li Kurangnya keterampilan sosial dan kemampuan berinteraksi dengan orang lain secara teratur dapat merusak perkembangan anak. Bahkan, anak-anak berpotensi depresi. Anak-anak yang pemalu biasanya kurang percaya diri ketika bersosialisasi dengan rekan-rekannya. Mungkin, membina hubungan sosial antar anak saat mereka bermain video game lebih tepat. Dengan permainan online (online game) misalnya, anak-anak anda bisa mengenal lebih banyak orang dan menambah jumlah temannya. 

      section
       ul
        li 5. Meningkatkan kemampuan belajar
        li Kompleksitas dari video game memberikan anak anda kesempatan untuk meningkatkan keterampilan kognitif dan penalarannya. Video game telah berkembang ke titik dimana pengguna harus mengambil kendali dan berpikir untuk diri mereka sendiri. Pemain juga perlu mengambil alih kendali dan memasukkan perintah sederhana melalui pengontrol permainan video. Seringkali, video game membutuhkan pemain yang pintar memecahkan teka-teki. Mereka harus sabar dan kreatif agar mereka bisa maju ke babak permainan berikutnya.
        li 6. Meningkatkan sportivitas
        li Sportif dan fair play adalah nilai-nilai umum yang dikembangkan dalam kompetisi pemuda. Video game juga menawarkan hal yang sama. Dia mengajarkan nilai-nilai keteraturan. Pada permainan online (online game) misalnya, masing-masing pemain akan bersaing secara teratur satu sama lainnya. 

      section
       ul
        li 7. Mengurangi stres
        li Tekanan belajar yang padat dan kegiatan ekstrakurikuler yang banyak seringkali membuat anak anda stres. Video game menawarkan anak anda outlet untuk mengurangi tingkat stres mereka. Dengan bermain game, maka sang anak akan terbebas dari segala tekanan yang mereka hadapi di dunia luar. Untuk menghilangkan stresnya, anak anda bisa membenamkan dirinya dalam asyiknya bermain video game sementara waktu.

        li 8. Membentuk tim kerja
        li Kerjasama tim yang kuat banyak terbina dalam permainan video game. Permainan online misalnya, membutuhkan pemain yang efektif berkomunikasi dengan tim mereka. Sementara itu, mereka terus melakukan tugas-tugas yang diembankan kepada mereka demi meraih kemenangan. 

      section
       ul
        li 9. Mengalihkan rasa sakit Anda terkadang berurusan dengan rasa sakit fisik dan juga emosional
        li Video game berfungsi untuk mengalihkan sementara masalah itu. Video game akan menawarkan kesempatan bagi anda untuk melarikan diri dari dunia luar. Mereka yang menderita penyakit tertentu, bisa memainkan beberapa video game untuk mengalihkan rasa sakitnya. 
        li 10. Membuat bahagia
        li Salah satu kenyataan adalah bermain video game itu membuat seseorang merasa bahagia. Namun, hal terpenting adalah memoderasi jumlah waktu yang ideal untuk dihabiskan bermain video game. Sebab, ada kemungkinan video game bisa menyebabkan anda atau anak anda kecanduan. Anda harus ingat untuk menempatkan batas waktu yang wajar untuk bermain video game. Berikan contoh yang bagus untuk anak-anak anda.

      section
       ul
        li <h2>Negatif</h2>
        li 1. Kurang tidur
        li Anak sudah menghabiskan sebagian besar waktunya untuk belajar di sekolah dan beraktivitas. Namun, mereka ingin tetap bermain video game. Sehingga, banyak anak mengorbankan waktu berharga mereka untuk tidur dan menggunakannya untuk bermain video game. Pecandu video game yang kurang tidur maka dapat membahayakan kesehatannya.
        li 2. Hidup kotor
        li Ketika seseorang yang mencandu karena terlibat dalam permainan video game, maka ia mulai mengabaikan segala hal terkait kebersihan pribadi. Seseorang akan malas mandi, sehingga menyebabkannya memiliki banyak jerawat, hingga penyakit gigi. 

      section
       ul
        li 3. Isolasi diri Seseorang yang bermain video game berlebihan menyebabkan orang itu memilih mengisolasi dirinya dari dunia luar.
        li Ia cenderung mengasingkan diri dari teman dan keluarga. Orang itu lebih asyik dengan permainannya. Ketidakpedualian seseorang terhadap kebersihan pribadi hanyalah awal perpindahan orang itu dari dunia nyata dan menjauh dari kehidupan sosial. Baginya, interaksi dengan tokoh-tokoh hero video game lebih berarti dibandingkan interaksi dengan siapapun. Orang yang sudah kecanduan video game mudah mengabaikan pekerjaan, sekolah, teman-teman, dan keluarganya. Ia menolak melakukan aktivitas apapun begitu bangun pagi kecuali bermain video game.
        li 4. Depresi
        li Meskipun pecandu video game tak menyadari awal dirinya despresi, namun perlahan penyakit ini akan meresap cepat ketika dia merasa diperbudak oleh kecanduannya sendiri. Hanya ketika seseorang berhenti bermain, kemudian berpikir tentang waktu-waktu yang telah dia lewatkan begitu saja, baru orang itu menyesalinya dan berujung pada depresi 

      section
       ul
        li 5. Stres
        li Stres dari kecanduan video game biasanya disebabkan oleh sejumlah skenario. Pertama, seseorang menjadi begitu terobsesi dengan video game. Kegagalan mereka memenangkan level-level pada video game menyebabkannya stres berlebihan. Kedua, seseorang menyadari bahwa hidupnya kacau karena video game. Ini menyebabkan stres juga. Satu-satunya cara orang untuk menghindari tipe stres kedua ini adalah dengan tetap bermain video game dan melupakan waktu. 
        li 6. Arthritis dan Carpal 
        li Tunnel Syndrome Kedua penyakit di atas adalah gangguan fisik. Video game bisa menyebabkan masalah pada jempol seseorang di kemudian hari. Tubuhnya juga rentan penyakit osteoarthritis. Sedangkan carpal tunnel syndrome adalah tekanan pada saraf di pergelangan tangan anda.

      section
       ul
        li 7. Makan kurang sehat
        li Ketika pecandu video game terlalu sibuk untuk bermain, maka ia akan jarang mandi, dan jarang tidur. Ini juga berdampak pola makan mereka menjadi tak sehat. Pecandu video game selanjutnya akan beralih ke makanan cepat saji dan memilih memakan makanan beku dan instan. Mereka justru memperbanyak minuman soda dan minuman energi dengan harapan mereka bisa bermain dalam kondisi prima. Ini menyebabkan pecandu video game mudah terserang obesitas, diabetes, dan kondisi kesehatan serius. 
        li 8. Perilaku agresif
        li Video game menjadi ajang melepaskan agresivitas dalam diri seseorang. Bentuknya adalah ambisi menguasai permainan dan memenangkan permainan. Bagi mereka yang sudah kecanduan, sikap agresif yang berlebihan ini pada akhirnya juga tanpa mereka sadari mereka praktekkan dalam kehidupan nyata. Ini yang menyebabkan seseorang menampilkan pola-pola prilaku agresif yang tak biasa. Misalnya, marah besar jika aktivitas bermain video game mereka diganggu.

      section
       ul
        li 9. Gaya hidup buruk
        li Pecandu video gama akan mencurahkan semua waktunya untuk aktif bermain video game. Dia hanya akan duduk atau berbaring dalam praktik kesehariannya. Kebiasaan makannya juga buruk, dan kebiasaan tidurnya kacau. Ini menyebabkan mereka mudah terkena stroke, penyakit jantung, dan hipertensi.  
        li 10. Berbohong
        li Berbohong adalah salah satu cara pecandu video game untuk menutupi perilaku abnormalnya. Ini adalah salah satu tanda seseorang telah kecanduan penuh oleh video game. Mereka akhirnya berbohong pada dirinya sendiri dan menyangkal bahwa mereka tak memiliki masalah sama sekali.

      section
       h1 Game Masa Depan / Game Virtual
      section
       ul <h3>Virtual Reality</h3>
        li Virtual reality adalah teknologi yang memungkinkan seseorang melakukan simulasi terhadap suatu objek nyata dengan menggunakan komputer yang mampu membangkitkan suasana tiga dimensi (3-D) sehingga membuat pemakai seolah-olah terlibat secara fisik.
        li Cara kerja sistem virtual reality pada prinsipnya adalah seperti berikut. Pemakai melihat suatu dunia semu, yang sebenarnya berupa gambar-gambar yang bersifat dinamis. Melalui perangkat headphone atau speaker, pemakai dapat mendengar suara yang realistis. Melalui headset, glove dan walker, semua gerakan pemakai dipantau oleh sistem dan sistem memberikan reaksi yang sesuai sehingga pemakai seolah merasakan sedang berada pada situasi yang nyata, baik secara fisik maupun secara psikologis.
        li Virtual reality game adalah di mana seseorang dapat mengalami berada di lingkungan tiga-dimensi dan berinteraksi dengan lingkungan tersebut selama pertandingan. Ini merupakan bagian penting dari permainan
      section
       <img src="Image/820743558.jpg" width = "400" height = "240">



      section
       ul <h3>Bio-sensing</h3>
        li ini adalah cara untuk mendeteksi keberadaan seseorang dalam sebuah game .Bio Sensing adalah sensor kecil yang melekat pada sarung tangan data, jas atau bahkan gerakan tubuh dan catatan yang dibuat oleh orang itu dalam ruang 3D. Gerakan-gerakan diinterpretasikan oleh komputer dan memicu berbagai tanggapan dalam ruang tersebut.
        li Sebagai contoh: Anda mengenakan sarung tangan data yang yang memiliki sensor yang melekat padanya. Anda memakai ini sebagai bagian dari sebuah permainan mengemudi. Sensor ini merekam cara tangan Anda bergerak sebagai bagian dari permainan ini, mengatakan, ketika memutar roda kemudi dalam arah tertentu.

      section
       ul
        li Gerakan-gerakan ini diumpankan kembali ke komputer yang kemudian menganalisis data dan menggunakan ini untuk mengubah tindakan Anda menjadi tanggapan yang tepat pada layar.
        li Kedengarannya agak teknis tetapi merupakan cara cerdas untuk mendeteksi gerakan pemain selama pertandingan dan menggunakan ini untuk mempengaruhi apa yang terjadi di dalam pertandingan itu. Ini berarti bahwa Anda, pemain, menjadi bagian penting dari permainan.

      section
       <img src="Image/4668453_20130825065610.gif" width = "500" height = "250">
       <img src="Image/VR.png" width = "500" height = "250">

      section
       ul <h3>3D internet</h3>
        li Ada game programmer yang menyukai ide dari internet tiga dimensi di mana Anda dapat menjelajahi website dengan cara yang dinamis. Dengan mengklik link dan pemindaian informasi pada halaman web, Anda akan dapat secara fisik menyentuh halaman tersebut dan memanipulasinya.
        li Jenis interaksi terlihat dalam dunia maya seperti Kehidupan kedua yang memungkinkan Anda untuk bersosialisasi dengan orang lain dalam lingkungan 3D.

      section
       <img src="Image/tumblr_m8gdd4zgVb1ql4atmo3_250.gif" width = "500" height = "250">
       <img src="Image/Ironman2.jpg" width = "500" height = "250">


      section
       <h1> Apakah Ada Kuliah Jurusan Gaming di Dunia???</h1>

      section
       ul
        li <h3>Jurusan Gaming pertama terdapat di <b>Korea Selatan</b></h3>
        li <img src="Image/1274925_20140321050342.jpg" width = "450" height = "220">
        li Menjadi seorang ahli dalam bermain video game adalah keterampilan atau bakat yang kebanyakan orangtua tidak akan bisa mengerti. 
        li Sebagian besar orangtua sudah memiliki rencana untuk anak-anaknya, jenjang karir mana yang akan ditempuh oleh mereka. 
        li Di antara berbagai jenjang karir itu, profesional gaming mungkin tidak termasuk dalam daftar para orangtua.
        li Namun di Korea Selatan, tampaknya bahwa orangtua mungkin mulai mempertimbangkan kembali sikap mereka

      section
       ul
        li Terutama menjadi terampil di video game dan bermain game yang merupakan bagian dari <b>"E-SPORTS"</b>, yang bisa mendaratkan anak mereka di salah satu universitas terkemuka di Korea Selatan.
        li Menurut laporan dari PGR21, tampaknya salah satu universitas Korea Selatan, Chung - Ang University (salah satu dari 10 universitas terbaik di Korea Selatan), akan mulai menerima pelamar e-Sports tahun depan, 
        li Para siswa yang diterima akan mampu untuk mendaftar di Departemen Ilmu Keolahragaan.
        li Tentu saja akan ada faktor-faktor lain yang menentukan masuknya calon mahasiswa ke universitas. 
        li Tetapi bagi mereka yang tidak berpartisipasi dan pandai dalam olahraga tradisional seperti sepak bola, bola basket, baseball, golf, dsb, mereka dapat bernafas lega karena keterampilan gaming mereka tidak akan terbuang sia-sia saat mereka memilih untuk mengejar gelar sarjana.

      section
       ul
         li <h3>Apa itu <b>E-SPORT</b>?</h3>
         li <img src="Image/1274925_20140321050845.jpg" width = "450" height = "120">
         li E- Sport adalah kompetitif dalam dunia permainan video game. 
         li Genre permainan yang paling umum dengan e-sport ini adalah real-time strategy (RTS), fighting, first person shooting ​​(FPS), massively-multiplayer online (MMOG), dan racing. 
         li Permainan yang dimainkan secara kompetitif pada tingkat amatir, semi-profesional dan profesional, dan beberapa permainan telah diselenggarakan. 
         li Beberapa kompetisi dalam bentuk liga dan turnamen e-sport seperti Major League Gaming (MLG), Global Starcraft II Liga (GSL), World Cyber ​​Games (WCG), DreamHack, dan Master Intel Extrem menyediakan real-time streaming permainan, dan hadiah uang tunai kepada para pemenang.
      section
       ul
        li <h3>E-Sport di dunia International</h3>
        li <img src="Image/1274925_20140321052628.jpg" width = "300" height = "200">
        li Di Korea Selatan, TV kabel menayangkan berita , event dan semua yang berhubungan dengan e-sport selama 24 jam, channel TV itu bernama Ongamenet,
        li Di Jerman, mayoritas GIGA Television dan ESL TV Menayangkan e-sport. 
        li Di Inggris, siaran XLEAGUE.TV pada saluran SKY 208, meyangkan eSports dan siaran pertandingan dari liga dan turnamen online.
      section
       ul  
        li Di Perancis, Game One mengusulkan beberapa pertandingan e-sport di sebuah event yang disebut "Arena Online" dan merupakan mitra dari Trophy Xfire, sebuah turnamen invitasi. Mereka menyiarkan pertandingan Counter-Strike, Counter-Strike: Source, Command & Conquer 3: Tiberium Wars, dan baru-baru ini Call of Duty 4: Modern Warfare.
        li Di Amerika Serikat, ulasan tentang game bisa lihat pada berbagai saluran. ESPN memiliki acara yang disebut Madden Nation, yang menunjukkan gamer bermain Madden NFL untuk Xbox 360. DirecTV menayangkan live pertandingan Championship Gaming Series. CBS menayangkan World Series 2007 dari turnamen Video Games yang diselangarakan di Louisville, Kentucky. G4 menayangkan up to date dunia video game.
      section
       ul
        li <h3><b>Prestasi Indonesia di E-SPORT</b></h3>
        li <img src="Image/1274925_20140321053631.jpg" width = "350" height = "190"> <p>Indonesia menjuarai Asian CyberGames-Counter Strike Tahun 2013</p>
        li <img src="Image/wallpaper-nxa-ladies.jpg" width = "350" height = "170">
        li Nixia Team asal Jakarta semua diangkat sebagai Duta Games Indonesia karena segudang prestasinya di kancah Internasional


 



    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild