doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Games

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        <img src="Image/20070908092134567.jpg" width="500" height="300">
        h2 <span style=color:green>G</span><span style=color:red>A</span><span style=color:blue>M</span><span style=color:purple>E</span><span style=color:brown>S</span>
        <img src="Image/ffxiv_20.jpg" width="500" height="300">

      section
        h1 Definisi Game
        h2 Menurut Kamus & Para Ahli
      section
        ul
        <li> Menurut kamus bahasa Indonesia 
        p Game diartikan sebagai permainan yang merujuk pada pengertian kelincahan intelektual & sebagai arena keputusan dan aksi pemainnya. </li>
        <li> Menurut David Parlett
        p Game adalah sesuatu yang memiliki akhir dan cara mencapainya artinya ada tujuan, hasil dan serangkaian peraturan untuk mencapai keduanya.</li>
        <li> Menurut Roger Caillois, seorang sosiolog Perancis, dalam bukunya yang berjudul "<b>Les jeux et les hommes</b>"
        p Game adalah aktivitas yang mencakup karakteristik berikut : fun (bebas bermain adalah pilihan bukan kewajiban), separate (terpisah), uncertain, non-productive, governed by rules (ada aturan), dan fictitious (pura-pura).</li>

      section
       h1 Sejarah Perkembangan Game
      section
       h2 Generasi-generasi Game
        
      section
       h3 Generasi Pertama(1972)
       p Generasi pertama konsol permainan video berlangsung dari tahun 1972, dengan rilis dari Magnavox Odyssey, hingga 1977, ketika pong-style produsen konsol meninggalkan pasar secara massal karena pengenalan dan keberhasilan mikroprosesor berbasis konsol.

       li <h4> Tahun 1975</h4>
       p Magnavox menyerah dan menghentikan produksi Odyssey. Sebagai gantinya, mereka mengikuti jejak Atari, memproduksi mesin ding dong bernama Odyssey 100, yang khusus menyajikan game Pong.

      <img src="Image/4_magnavox_odyssey.jpg" width="100" height="300">
      <img src="Image/odyssey.jpg" width="100" height="300">

      section
       h3 Generasi Kedua(1976)
       p Fairchild mencoba menghidupkan kembali dunia video game dengan menciptakan VES (Video Entertainment System). VES adalah mesin pertama yang disebut ”konsol”.
       p Konsol ini menggunakan kaset magnetik yang disebut cartridge. Nah, konsep ini kemudian diikuti oleh beberapa produsen lain, termasuk Atari, Magnavox, dan RCA, ketiga perusahaan tersebut juga merilis konsol serupa. Fairchild VES, pertama di dunia yang menggunakan media cartridge.

      section
       <li> <h4>Tahun 1977</h4>
       p Dunia konsol menjadi tidak populer, game-game yang ada tidak berhasil menarik minat. Fairchild dan RCA mengalami kebangkrutan. Praktis, hanya ada Atari dan Magnavox yang masih bertahan di dunia video game.</li>
       <li> <h4> Tahun 1978</h4>
       p Magnavox meluncurkan Odyssey 2, seperti halnya Odyssey pertama, konsol ini pun gagal menjadi hit. Tak lama berselang, Atari meluncurkan konsol legendaris, Atari 2600, yang terkenal dengan game Space Invaders-nya</li>
      section
       <li> <h4>Tahun 1980</h4>
       p Berbagai produsen konsol muncul, dan mereka mengambil Atari 2600 sebagai konsep dasar, perkembangan dunia game pun semakin pesat.</li>
       <li> <h4>Tahun 1983</h4>
       p Dunia video game kembali ambruk. Game-game yang kurang kreatif membuat konsol kembali mendapat sambutan dingin, apalagi, PC saat itu menjadi semakin canggih. Orang lebih memilih membeli PC ketimbang konsol video game, selain untuk bermain, PC juga produktif untuk bekerja.
       p Game-game komputer (PC Game) semakin berkembang pesat, hingga saat ini. Pelopor PC ber-game saat itu adalah Commodore 64, konsol sekaligus personal computer yang menyediakan tampilan grafis 16-warna dan memiliki kapasitas memori jauh lebih baik dari konsol videogame model apa pun.</li>
      <img src="Image/300px-Atari-5200-Console-Set.png" width="100" height="300">
      <img src="Image/space-invaders1.png" width="100" height="300">

      section
         h2 Jenis - jenis games
         h3  - Adventure
         h3  - Platform
         h3  - RPG (Role-Playing Games)
         h3  - Puzzle
         h3  - MMORPG
         h3  - Simulasi
         h3  - Web Based Games

      section
       h2 Adventure
       ul
        li  Melibatkan eksplorasi atau interaksi di lingkungan sekitar.
        li  Cerita serta penyelesaian puzzle juga disorot pada jenis game ini.
        li  Biasanya interaksi menggunakan pointer dan klik.
        li  Pertarungan pada peran ini cukup kecil.
        li  Contoh : Indiana Jones, Monkey Island dsb.
        li  <img src="Image/Monkey king.jpg" width ="200" height="200"> <img src="Image/Myst.png" width ="200" height="200">

      section
        h2 Platform
        ul
         li Mulai pada tahun 1981 dengan munculnya game "Donkey Monkey" dan "Space Panic".
         li Diidentifikasi dengan lingkungan yang bisa dinavigasi.
         li  Membutuhkan waktu dan lompatan untuk mencapai suatu destinasi.
         li  Contohnya Sonic The Hedgehog.
         li  <img src="Image/Sonic.png" width="300" height="200"> <img src="Image/super mario bros.png" width="200" height="200">

      section
       h2 RPG
       ul
        li Kekuatan atau kemampuan
        li Direpresentasikan dalam statistik.
        li Karakter menjelajahi dan menyelesaikan quest.
        li Experience/Statistik bertambah.

      section
       h2 Puzzle
       ul
         li Sangat singkat
         li Addictive
         li Selesaikan puzzle.
         li Contoh: tetris, puzzle bobble.

      section
       h2 MMORPG
       ul
         li Massive Multiplayer Online Role Playing Game
         li Game role playing multiplayer
         li Online
         li Contoh : Diablo, Warcraft.
      section
       h2 Simulasi
       ul
         li Ciptakan suasana mirip dengan asli.
         li Contoh : SimCity, Microsoft Flight Simulator.

      section
       h2 Web Based Games
       ul
         li Dimainkan via Website
         li dibangun dengan Flash atau Shockwave.
  
    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild